@{
    ViewData["Title"] = "Home Page";
    var cntt = ViewData["CNTT"] as List<Cntt>;
}

<div class="container">
    <h1 style="text-align:center">CÔNG NGHỆ THÔNG TIN</h1>
    <div class="row">
        @for (int i = 0; i < cntt.Count; i++)
        {
            <div class="col-3">
                <img src="@cntt[i].Image" width="270" alt="Alternate Text" />
                <p style="font-weight:600">@cntt[i].Name</p>
            </div>
        }
    </div>
</div>